<h1>Your shortened URL</h1>

<p>
  Short link:
  <%= link_to short_url(@url.slug), short_url(@url.slug) %>
</p>

<p>Original: <%= @url.original_url %></p>
<p>Clicks: <%= @url.clicks.count %></p>


<%= link_to "Shorten another", root_path %>

<h2>Recent Clicks</h2>
<ul>
  <% if @url.clicks.any? %>
    <% @url.clicks.last(10).each do |click| %>
      <li>
        IP: <%= click.ip_address %> |
        Referrer: <%= click.referrer || "Direct" %> |
        Time: <%= time_ago_in_words(click.created_at) %> ago
      </li>
    <% end %>
  <% else %>
    <li>No clicks yet.</li>
  <% end %>
</ul>


